.feed__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feed__list::before {
  content: '';
  display: block;
  background: #e7edf2;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 2px;
  z-index: -1;
  opacity: 0.7;
}
