.nav-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 97px;
  min-height: 84px;
  font-size: 1rem;
  color: #838ca8;
  text-decoration: none;
  transition: 0.5s;
}

.nav-item__link--active {
  color: #8224e3;
}

.nav-item__link:hover,
.nav-item__link:focus {
  text-decoration: underline;
}

.nav-item__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.nav-item__icon g {
  fill: #838ca8;
}

.nav-item__link--active .nav-item__icon g {
  fill: #8224e3;
}

/* Home */

.nav-item--home .nav-item__link {
  color: #fff;
}

.nav-item--home .nav-item__icon g {
  fill: #fff;
}
