.profile__wrapper-header {
  background-image: url(./img/header-cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__header {
  display: flex;
  align-items: flex-end;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 280px;
}

.profile__nav,
.profile__main {
  max-width: 1100px;
  margin: 0 auto;
}

.profile__nav {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 320px;
}

.profile__main-wrapper {
  border-top: 1px solid #e7edf2;
}

.profile__main {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.profile__aside,
.profile__content {
  padding: 30px 30px 70px;
}

.profile__aside {
  border-right: 1px solid #e7edf2;
}
