.profile__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__card,
.profile__message {
  margin-bottom: 30px;
}

.profile__list::before {
  content: '';
  display: block;
  background: #e7edf2;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 2px;
  z-index: -1;
  opacity: 0.7;
}

.profile__li:not(:last-child) {
  margin-bottom: 20px;
}
