.profile-header {
  position: relative;
  display: grid;
  grid-template-columns: 320px 4fr 1fr;
  width: 100%;
  padding-bottom: 35px;
}

.profile-header__avatar {
  position: absolute;
  bottom: -75px;
  width: 200px;
  height: 250px;
  transform: translateX(60px);
}

.profile-header__avatar-img {
  width: 100%;
  max-height: 200px;
  margin-bottom: 0.75rem;
  border: solid 2px #fff;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.profile-header__avatar-img:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.profile-header__user-name {
  font-size: 20px;
  margin: 0 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #4f515b;
}

.profile-header__about {
  grid-column: 2/3;
}

.profile-header__edit {
  grid-column: 3/4;
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}
