.post-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;

  &__avatar {
    width: max-content;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    width: 100%;
    min-height: 7rem;
    padding: 10px 15px 8px;
    background: transparent;
    border: 1px solid #e7edf2;
    border-radius: calc(1.25rem + 1px);
    resize: none;
  }

  &__button {
    margin-top: 20px;
    margin-left: auto;
    height: 30px;
    min-height: initial;
    padding: 0 2rem;
    color: #fff;
    text-align: center;
    font-weight: normal;
    background-color: #8224e3;
    background-image: linear-gradient(
      90deg,
      #8224e3 0,
      #a968ec 50%,
      #8224e3 100%
    );
    background-size: 200%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgb(130 36 227 / 50%);
    cursor: pointer;
    transition: background-size 0.2s;

    &:hover {
      background-size: 100%;
    }
  }
}
