.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar--post {
  flex-direction: row;
  align-items: flex-start;
}

.avatar__link-img {
  position: relative;
  margin-bottom: 12px;
  line-height: 0;
}

.avatar__link-img::before {
  content: url(./../../assets/img/avatar/ring.png);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -6px;
}

.avatar--post .avatar__link-img,
.avatar--post-input .avatar__link-img {
  margin: 0;
}

.avatar--post .avatar__link-img::before,
.avatar--post-input .avatar__link-img::before {
  display: none;
}

.avatar__img {
  position: relative;
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 7px 35px rgb(58 46 68 / 10%);
}

.avatar--post .avatar__img,
.avatar--post-input .avatar__img {
  max-width: 40px;
}

.avatar__link {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  font-size: 1.14rem;
  font-weight: 600;
  overflow: hidden;
  color: #29292d;
  transition: 0.5s;
}

.avatar__link:hover,
.avatar__link:focus {
  color: #8224e3;
  text-decoration: underline;
}

.avatar--post .avatar__link {
  margin-left: 10px;
  font-size: 1em;
}

.avatar--post-input .avatar__link {
  display: none;
}

.avatar__status {
  margin-top: 5px;
  font-size: 0.857rem;
  line-height: 1.5;
  text-align: center;
  color: #bbbbdc;
}

.avatar--post .avatar__status,
.avatar--post-input .avatar__status {
  display: none;
}
